.map {
    height: calc(100% - 100px);
}

.members {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.member {
    margin: 5px 5px;
    padding: 5px 10px;
    border: 1px solid lightblue;
    border-radius: 8px;
    cursor: pointer;
}

.pin {
    margin-right: 4px;
}