<ion-header>
  <ion-toolbar>
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div #map id="map" class="map"></div>

    <div class="members">
      <div *ngFor="let member of familyMembers" 
           class="member"
           (click)="showMemeber(member)">
           <ion-icon name="pin" class="pin" 
                     [color]="member.locationEnable ? 'success' : 'danger'"></ion-icon> 
           {{member.name}}
      </div>
    </div>
</ion-content>