.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .chat-container {
        overflow-y: auto;
    }

    .send-message {
        flex: 0 0 auto;
    }
}

